header {
    background-color: rgb(121, 189, 235);
    color: rgb(45, 87, 202);
    
}

body {
    background-color: whitesmoke;
    font-family: 'Roboto Mono', monospace;
}

main {
    background-color: white;
    padding: 16px;
}

.finstagram-post {
    margin-bottom: 34px;
}

.finstagram-post .user-info img{
    border-radius: 50%;
}

a.photo{
    transition: padding 0.5s;
}

a.photo:hover{
    padding: 10px;
}