<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../../stylesheets/normalize.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../../../stylesheets/lib.css">
        <link rel="stylesheet" type="text/css" href="../../../stylesheets/app.css">
        <title>Finstagram</title>   
    </head>    
    <body>
        <header>
            <h1 id="h1coloredborder">Finstagram</h1>
        </header>    
        <main role="main">

            <article class="finstagram-post">
                <div class="user-info">
                    <img src="https://yt3.ggpht.com/ytc/AKedOLTsY8IQxf6785cTQ-gcCnsZuLcaxjvMvbz56YxnkQ=s900-c-k-c0x00ffffff-no-rj" alt="sharky_j">
                    <h2>sharky_j</h2>
                    <h3>15 minutes ago</h3>
                
                </div>
                <a class="photo" href="#">
                    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/76e5c193-04f2-4736-97ee-5bd92a0294e0/dcq6qqi-2ce48b1d-b34f-4310-97af-519825cbecca.png/v1/fill/w_596,h_350,q_70,strp/kyogre_playmat_by_seadraz_dcq6qqi-350t.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTQxIiwicGF0aCI6IlwvZlwvNzZlNWMxOTMtMDRmMi00NzM2LTk3ZWUtNWJkOTJhMDI5NGUwXC9kY3E2cXFpLTJjZTQ4YjFkLWIzNGYtNDMxMC05N2FmLTUxOTgyNWNiZWNjYS5wbmciLCJ3aWR0aCI6Ijw9MTYwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.xU6v98JiSOS51VExl_0saD4JZUpDhTbN_V4ORW261LY" alt="post from sharky_j">
                </a>

                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                        sharky_j: Cruising around the deep ocean blues, ain't got a clue!
                        </p>
                    </li>
                </ul>
            </article>
            
            <article class="finstagram-post">
                
                <div class="user-info">
                    <img src="https://static.fandomspot.com/images/02/4880/18-remoraid-fish-pokemon.jpg" alt="krik_whalum">
                    <h2>kirk_whalum</h2>
                    <h3>1 hour ago</h3>
                </div>

                <a class="photo" href="#">
                    <img src="https://static.wikia.nocookie.net/pokemon/images/d/de/Team_Rocket_Wailord.png" alt="finstagram post from kirk_whalum">
                </a>

                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>

                <ul class="comments">
                    <li>
                        <p>kirk_whalum: Hop on the wailord express! Time passed by so fast it was a blur, so is the picture.</p>
                    </li>
                </ul>
            </article>

            <article class="finstagram-post">
                <div class="user-info">
                    <img src="https://www.americanoceans.org/wp-content/uploads/2021/02/atlantic-blue-marlin-740x494.jpg" alt="marlin_peppa">
                    <h2>marlin_daddy</h2>
                    <h3>3 hours ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="https://cdn-amfji.nitrocdn.com/ItsVHqVpQhWlgJHudzyOjnxXeoFraizt/assets/static/optimized/rev-5b5fb36/wp-content/uploads/2020/09/smoked-blue-marlin.jpg" alt="finstagram post from marlin_peppa">
                </a>
                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>

                    <ul class="comments">
                        <li>
                            <p>
                                marlin_daddy: My son just died. Some idiot decided to cook him #RIP
                            </p>
                        </li>
                    </ul>
                     
            </article>
        </main>
    </body>
</html>